.text-overlay-image {
    width: 100%;
}

.text-overlay-image .image-container {
    position: relative;
    width: 100%;
}

.text-overlay-image .image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay-image .text-box {
    position: absolute;
    align-items: center;
    background-color: #86973b;
    border-radius: 12px;
    color: #fff;
    display: flex;
    font-family: carepoint;
    font-size: 18px;
    font-weight: 700;
    height: 94px;
    justify-content: center;
    letter-spacing: .5px;
    line-height: 26px;
    padding: 20px 33px;
    text-align: center;
    width: 363px;
 
    @media(--vp-xsmall-max){
        width: 100%;
        right: 0px !important;
    }
}

/* Editor Styles */
.wp-block-verdure-text-overlay-image .select-image-button {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border: 2px dashed #ccc;
    cursor: pointer;
}

.wp-block-verdure-text-overlay-image .image-wrapper {
    position: relative;
}

.wp-block-verdure-text-overlay-image .remove-image {
    position: absolute;
    top: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.8) !important;
}
